h1 { color: violet}

h2 { color: blue;}

div { background-color: yellow;}

ol li { color:blue}

ul li { color: red}

p { color: red; background-color: pink;}

.parrafo1 {color: aquamarine;}


h3 { color: blue;}
ol { background-color: blueviolet;}

h1 {font-family:'Franklin Gothic Medium';}

#contenedor-principal{background-color: aquamarine;}

div  {background: red;}

.borde { border: 2px solid black;}